<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/about.css}">
</head>
<body>
<div class="container">
    <h1>DANH SÁCH SINH VIÊN</h1>
    <div class="wrapper">
        <ul class="header">
            <li class="item">Mã Sinh Viên</li>
            <li class="item">Họ và Tên</li>
            <li class="item">Tuổi</li>
        </ul>
        <div th:each="item : ${list}" class="content">
            <h3 th:text="${item.getMsv()}" class="item"></h3>
            <h3 th:text="${item.getName()}" class="item"></h3>
            <h3 th:text="${item.getAge()}" class="item"></h3>
        </div>
    </div>
</div>
</body>
</html>