<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="login.css">
</head>
<body>
<form th:action="@{/sign}" method="post" class="container">
    <h2>SIGN UP</h2>
    <div class="input">
        <label >Username</label>
        <input name="userName" type="text" placeholder="Type your user name">
        <label >Password</label>
        <input name="passWord" type="password" placeholder="Type your password">
        <label >Full name</label>
        <input name="fullName" type="text" placeholder="Type your full name">
    </div>
    <div class="button">
        <button type="submit">SIGN UP</button>
    </div>

    </div>
</form>
</body>
</html>